@import url('https://fonts.googleapis.com/css2?family=Edu+SA+Beginner:wght@500&family=Lumanosimo&family=Montserrat:wght@600&family=Playfair+Display:wght@500&display=swap');




.app {
    background-color: rgb(192, 216, 195);
    width: 100%;
    height: 100%;
    padding-bottom: 100px;

    display: flex;
    align-items: center;
    flex-direction: column;

    overflow-y: auto;
    overflow-x: hidden;


    header {
        width: 100%;
        padding-top: 32px;
        display: flex;
        align-items: center;
        justify-content: center;

        .wrap {
            width: 712px;
        }

        .flowers {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;


            img {
                width: 72px;
                height: 72px;
            }
        }

        .title {
            margin-top: 34px;

            h1 {
                color: black;
                font-family: 'Lumanosimo', cursive;
                font-size: 30px;
            }
        }
    }





    .vines {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 52px;
        margin-bottom: 42px;

        img {
            width: 26px;
            height: 26px;
        }

        div.reverse {
            rotate: 180deg;
            padding-top: 18px;
        }
    }


    #text-video {
        width: 760px;
        display: flex;
        gap: 12px;
        padding: 24px;

        border-radius: 24px;

        background: rgb(164, 193, 141);
        background: linear-gradient(135deg, rgba(164, 193, 141, 1) 0%, rgba(91, 149, 87, 1) 100%);
        box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);




        p {
            color: black;
            font-family: 'Edu SA Beginner', cursive;
            font-size: 22px;
        }
    }


    #info {
        .wrap {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            justify-content: center;
            gap: 24px;
        }

        .card {
            box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
            width: 448px;
            height: 324px;
            border-radius: 12px;
            background-color: white;
            color: black;
            background-color: #86af78;
            display: grid;
            grid-template-columns: 65% 35%;

            .text {
                padding: 12px;

                h3 {
                    font-family: 'Playfair Display', serif;
                }

                ul {
                    padding-left: 32px;
                    font-family: 'Edu SA Beginner', cursive;
                    font-size: 20px;

                    li {
                        margin-top: 12px;
                    }
                }

                p {
                    font-size: 20px;
                    font-family: 'Edu SA Beginner', cursive;
                }
            }

            .image {
                height: 100%;

                img {
                    height: 100%;
                    object-fit: cover;
                    border-top-right-radius: 12px;
                    border-bottom-right-radius: 12px;
                }
            }

            .yoga {
                img {
                    filter: brightness(70%);
                }
            }
        }
    }

    #qna {
        margin: 0 24px;
        display: grid;
        grid-template-columns: 50% 50%;
        max-width: 412px;
        width: 100vw;
        gap: 12px;

        .questions {
            button {
                height: 42px;
                border-radius: 4px;
                background-color: rgb(164, 193, 141);
                display: flex;
                justify-content: center;
                align-items: center;
                color: black;
                font-family: 'Edu SA Beginner', cursive;
                width: 100%;
                margin-top: 8px;
                font-size: 18px;
            }
        }

        .text {
            background: rgb(164, 193, 141);
            background: linear-gradient(135deg, rgba(164, 193, 141, 1) 0%, rgba(91, 149, 87, 1) 100%);
            box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);

            font-family: 'Edu SA Beginner', cursive;
            color: black;
            font-size: 18px;
            padding: 0 12px;
            border-radius: 12px;
        }
    }

    #contact {
        font-family: 'Edu SA Beginner', cursive;
        color: black;
        font-size: 22px;
        margin: 0 24px;
        max-width: 412px;
        width: 100vw;
        background-color: #86af78;
        padding: 24px;
        border-radius: 24px;
    }
}





@media screen and (max-width: 820px) {
    .app {
        #text-video {
            width: 100vw;
            margin: 0 24px;
            max-width: 384px;

            flex-direction: column;
        }

        #info {
            .card {
                max-width: 448px;
                width: 100vw;
                margin: 0 24px;
            }
        }

        .video {
            width: 200px;
            height: calc(200px / 2160px * 3840px);

            vg-player {
                width: 200px;
                height: calc(200px / 2160px * 3840px);
            }

            video {
                width: 200px;
                aspect-ratio: 2160 / 3840;
            }
        }
    }
}





.video {
    aspect-ratio: 2160 / 3840;
    width: 280px;
    border-radius: 24px;
    height: calc(280px / 2160px * 3840px);


    vg-player {
        width: 280px;
        border-radius: 26px;
        height: calc(280px / 2160px * 3840px);
        // aspect-ratio: 2160 / 3840;
    }

    video {
        border-radius: 24px;
        width: 280px;
        aspect-ratio: 2160 / 3840;
    }
}