<div class="app">
    <div class="all-wrap">
        <div class="card">
            <div class="title">
                <h1>Tea Ceremonies</h1>
                <h2>in Niagara on the Lake</h2>
            </div>
            <div class="info">
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vero voluptatem nobis ratione repellendus
                    distinctio commodi exercitationem earum. Eligendi minus, quisquam natus ipsa deleniti qui dolore est
                    eveniet voluptas eaque libero.</p>
            </div>
            <div class="contact">
                <p>+289 968 7940</p>
            </div>
        </div>
        <div class="video">
            <vg-player (onPlayerReady)="onPlayerReady($event)">

                <vg-overlay-play></vg-overlay-play>
                <vg-buffering></vg-buffering>

                <video [vgMedia]="$any(media)" #media autoplay muted>
                    <source src="./../../assets/vid/tea_vid.mp4" type="video/mp4">
                </video>
            </vg-player>
        </div>
    </div>
</div>